# dependencies
node_modules
.pnp
.pnp.js
*.tsbuildinfo

# testing
coverage
__tests__
*/**/cypress/videos
*/**/cypress/images
*/**/cypress/downloads
*/**/test-results/
*/**/playwright-report/
*/**/playwright/.cache/


# build
dist
build
lib

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ci
.turbo
.firebase

# temp
.temp

